<?php
/**
 * Configuration for database connection
 *
 */
$host       = "{{ hostvars[dbserver].ansible_host }}";
$username   = "{{ dbuser }}";
$password   = "{{ dbpassword }}";
$dbname     = "{{ dbname }}";
$dsn        = "mysql:host=$host;dbname=$dbname";
$options    = array(
                PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
              );
$appname = "{{ appname }}";
